 .section{
    background-image: url("/public/counsellor1.jpg");
    background-size: cover;
}
 .Online{
 background-image: url("/public/online.jpg");
 background-size: cover;
}


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

  .main{
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: black;
text-emphasis-color:white;
text-decoration-color: beige;
text-size-adjust: red;
color: rgba(0, 162, 255, 0.763);
font-size: x-large;
padding-left: 13px;
padding-top: 10px;
font-weight:300px;

  }